/* Estilos do Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos da Seção Principal */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
}

#home {
    margin-top: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Estilos das Seções História, Cultura, e Gastronomia */
h2 {
    color: #333;
    margin-top: 20px;
}

#historia, #cultura, #gastronomia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#historia img, #cultura img, #gastronomia img {
    margin: 20px 0;
}


